@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #222;
  --color-light: #faebd7;
  --color-accent: #ffed50;
  --color-success: #68ff77;
  --color-error: #ff5a5a;
}

*,
*::before,
*::after {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
