@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222;
  --text: #faebd7;
  --accent: #ffed50;
  --succes: #68ff77;
  --error: #ff5a5a;
}

*,
*::before,
*::after {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background: var(--background);
}
