@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-dark: #222;
  --color-dark-lighter: #6b6b6b;
  --color-light: #faebd7;
  --color-light-darker: #c0ac8c;
  --color-accent: #ffed50;
  --color-success: #68ff77;
  --color-error: #ff5a5a;

  --animate-blink: blink 0.7s ease-in-out infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
  }
}

@variant operational (&.operational);
@variant group-operational (.group.operational &);

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  These are compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  *,
  *::before,
  *::after {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :focus-visible {
    @apply animate-blink outline-hidden;
  }
}
